---
permalink: /llms.txt
eleventyExcludeFromCollections: true
layout: null
---
# {{ site.name }}

> Clínica de estética y medicina estética en Benidorm (Alicante, España). {{ reviews.rating }}★ con {{ reviews.count }} reseñas verificadas en Google. Especialistas en tratamientos faciales, corporales, medicina estética inyectable, radiofrecuencia INDIBA y depilación IPL. Trato cercano, sin sesiones de más.

## Servicios
{% for p in pagesI18n -%}
{%- if ('/services/' in p.urls.es) and (p.urls.es != '/services/') and i18n.es.chrome.crumbs[p.key] %}
- [{{ i18n.es.chrome.crumbs[p.key] }}]({{ site.url }}{{ p.urls.es }})
{%- endif -%}
{%- endfor %}
- [Radiofrecuencia INDIBA]({{ site.url }}/radiofrecuencia/)

## Información
- [Sobre nosotras]({{ site.url }}/about/)
- [Contacto y reservas]({{ site.url }}/contact/)

## English
- [Home]({{ site.url }}/en/)
- [Treatments]({{ site.url }}/en/services/)
