---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
layout: null
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- set siteUrl = site.url -%}
{%- for p in pages %}
  <url>
    <loc>{{ siteUrl }}{{ p.es }}</loc>
    <lastmod>{{ page.date.toISOString().split('T')[0] }}</lastmod>
    <changefreq>{{ p.changefreq }}</changefreq>
    <priority>{{ p.priority_es }}</priority>
  </url>
  {%- if p.en %}
  <url>
    <loc>{{ siteUrl }}{{ p.en }}</loc>
    <lastmod>{{ page.date.toISOString().split('T')[0] }}</lastmod>
    <changefreq>{{ p.changefreq }}</changefreq>
    <priority>{{ p.priority_en }}</priority>
  </url>
  {%- endif %}
{%- endfor %}
</urlset>
